<fieldset>
  <legend class="text-sm/6 font-semibold text-gray-900">Image settings</legend>
  <div class="mt-6 flex justify-between">
    <div class="w-1/2 pr-6">
      <label for="width" class="block text-sm/6 font-medium text-gray-900">Width</label>
      <div class="mt-2">
        <input type="text" name="width" id="width"
               [(ngModel)]="settings.width"
               class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
      </div>
    </div>

    <div class="w-1/2 pl-6">
      <label for="height" class="block text-sm/6 font-medium text-gray-900">Height</label>
      <div class="mt-2">
        <input type="text" name="height" id="height"
               [(ngModel)]="settings.height"
               class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
      </div>
    </div>
  </div>
  <pre>
    settings: {{settings | json}}
  </pre>

</fieldset>
