@if(guardedRoute) {
  <amplify-authenticator [services]="services">
    <ng-template amplifySlot="authenticated">
      @if(showHeaderFooter()) {
        <app-header></app-header>
      }
      <router-outlet (activate)="verifyHeader($event)" />
      @if(showHeaderFooter()) {
        <app-footer></app-footer>
      }
    </ng-template>
  </amplify-authenticator>
} @else {
  @if(showHeaderFooter()) {
    <app-header></app-header>
  }
  <router-outlet (activate)="verifyHeader($event)" />
  @if(showHeaderFooter()) {
    <app-footer></app-footer>
  }
}
